@import "bootstrap-sprockets";
@import "bootstrap";

/* MIXINS and VARIABLES */
$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* UNIVERSAL */
body {
  padding-top: 50px;
}

.jumbotron {
  margin-top: 50px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.alert {
  margin-top: 10px;
}

/* HEADER */
#logo {
  padding-top: 6px;
}

/* FOOTER */
footer {
  margin: 45px 25px 20px 0;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* PROFILE */
#customer_data {
  display: inline-flex;
  margin: 0 20px 0 20px;
}

.details {
  font-size: 15px;
}

.panel {
  width: 250px;
  margin: 10px 21px;
  background-color: #d1d7d8;
  border: 2px solid black;
}

/* TICKETS */
#buy-tickets {
  display: inline-flex;
}

.ticket {
  width: 350px;
  margin: 20px 40px;
  padding: 0 20px 20px 20px;
}

/* PURCHASES */
.table {
  margin-top: 30px;
}

/* FORMS */

// input, textarea, select, .uneditable-input { 
//   border: 1px solid #bbb;
//   width: 100%;
//   margin-bottom: 15px;
//   @include box_sizing;
// }
