<div class="jumbotron center">
  <h2>Choose Type of Ticket</h2>
  <div id="buy-tickets">
    <div class="panel ticket col-md-3">
      <h3>Cash Prize</h3>
      <%= link_to "Buy Now!", cash_tickets_create_path, class: "btn btn-lg btn-primary" %> 
    </div>
    <div class="panel ticket col-md-3">
      <h3>Utility Prize</h3>
      <%= link_to "Buy Now!", utility_tickets_create_path, class: "btn btn-lg btn-primary" %> 
    </div>
    </div>
  </div>
</div>
